<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="custom-card p-4">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="text-primary">Set New Password</h2>
                    <p class="lead">Update your account password securely</p>
                </div>
                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert fade show"
                     role="alert" id="messageAlert">
                    <span th:text="${session.message.content}"></span>
                </div>
                <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                <!-- Alert for password validation errors -->
                <div id="passwordError" class="alert alert-danger fade show" role="alert" style="display: none;"></div>
            </div>

            <div class="custom-card">
                <form th:action="@{/reset-password}" method="post" id="changePasswordForm">
                    <!-- New Password -->
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        <div class="form-text">
                            Password must be at least 8 characters long and include at least one number and one
                            special
                            character.
                        </div>
                    </div>

                    <!-- Confirm New Password -->
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               required>
                    </div>

                    <!-- Submit Button -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary px-5">
                            <i class="fas fa-save me-2"></i>Change Password
                        </button>
                    </div>
                </form>
                <!-- Add jQuery if not already included -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            </div>
        </div>
    </div>
</section>
</body>
</html>
